.navigation {
  &__checkbox {
    display: none;
  }
  &__label {
    height: 7rem;
    width: 7rem;
    border-radius: 10rem;
    background-color: $white-background;
    z-index: 2000;
    position: fixed;
    cursor: pointer;

    right: 1%;
    top: 4%;
  }
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 10rem;
    background-image: radial-gradient(#485563, #29323c);
    position: fixed;
    z-index: 1000;
    transition: transform 0.6s cubic-bezier(0.37, 0, 0.63, 1);

    right: 1%;
    top: 4.5%;
    // transform: scale(90);
  }
  &__navbar {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 1500;
    height: 100vh;
    width: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);

    // transform: translate(-50%, -50%);
  }
  &__list {
    list-style: none;
    //Counter for the list items
    counter-reset: links;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }
  //Remember Links are inline elements
  &__link:link,
  &__link:visited {
    display: inline-block;
    // padding: 1rem 2rem;
    text-decoration: none;
    font-size: 6rem;
    color: #000;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      white 50%
    );
    //To push the white color to the right completely
    //This is like giving each color 120%  (which is the entire elements) size. so that half of the container is transparent and other white (120 + 120)
    background-size: 240%;
    transition: all 0.3s;

    &::before {
      counter-increment: links;
      content: '0' counter(links);
      font-size: 6rem;
      font-weight: 100;
      margin-right: 2rem;
    }
  }

  &__link:hover,
  &__link:active {
    transform: translateX(1rem) rotate(0.1deg);
    //Move the background in the X axis 100% of the entire element (from left-right)
    //right is 1100% horizontally
    background-position: 100%;
  }

  //If the checkbox is checked scale the background
  &__checkbox:checked ~ &__background {
    transform: scale(90);
  }

  //If the checkbox is checked make the navigation visible
  &__checkbox:checked ~ &__navbar {
    opacity: 1;
    visibility: visible;
    width: 100%;
  }
}
