/*animations for the header text*/
@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-11rem); }
  90% {
    opacity: 1;
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  90% {
    opacity: 1;
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: translateY(-0.2rem) scale(1.05);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

/*Universal Selector Reset*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /*Setting the font size to be 10px if the default user-agent font size is 16px, so that I can make caluclations easily*/
  /*Setting the font size as a percentage instead of strictly 10px, just in case the user changes the default font size in the browser from 16px.
  So that my webpages root font size will change accordingly*/
  /*The main purpose of setting the root element font size is to use 10px as the default font size.*/
  /*To get 1rem to be equal to 10px, divide 10 by 16*/
  font-size: 62.5%; }

body {
  /*Box-size is inherited by the universal selector*/
  box-sizing: border-box; }

body {
  font-family: 'Oswald', sans-serif;
  /* font-size: 16px; */
  font-weight: 400;
  line-height: 1.6; }

/*HERO SECTION*/
.main-heading {
  color: #fff;
  text-transform: uppercase; }
  .main-heading__text-level-one {
    display: block;
    font-size: 15rem;
    animation-name: moveInFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .main-heading__text-level-two {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    animation-name: moveInFromRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    margin-bottom: 5rem; }

/*COMMON SECONDARY HEADING*/
.secondary__heading {
  font-size: 4.2rem;
  text-transform: uppercase;
  letter-spacing: 0.18rem;
  display: inline-block;
  background-image: linear-gradient(to right, #414345, #232526);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.2s; }
  .secondary__heading:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 2rem 3rem 2rem rgba(0, 0, 0, 0.3); }

/*COMMON THIRD HEADING*/
.header__tertiary {
  font-size: 2.2rem;
  margin-bottom: 3.2rem;
  opacity: 0.9; }

/*ABOUT SECTION*/
.about__description__text {
  font-size: 2rem;
  flex-wrap: wrap; }
  .about__description__text:not(:last-child) {
    margin-bottom: 3rem; }

.stories__heading {
  margin-top: 3rem; }

.u-align-text-center {
  text-align: center; }

.u-marg-bottom-8 {
  margin-bottom: 8rem; }

.btn--discover {
  background-color: #fff;
  border-radius: 10rem;
  padding: 1.2rem 2.4rem;
  animation-name: moveInFromBottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0.1s;
  animation-fill-mode: backwards; }
  .btn--discover::after {
    background-color: #fff; }

/*General Button*/
.btn:link,
.btn:visited {
  text-decoration: none;
  color: #868e96;
  font-size: 2.2rem;
  transition: all 0.3s;
  display: inline-block;
  position: relative;
  /*Pseudo elements allow us style parts of an element
AFTER - style a virtual element right after the element we're selecting 
After pseudo element is trated like a child element, of the element we're choosing*/
  /*General Button*/
  /*General Button*/ }
  .btn:link:hover, .btn:link:active,
  .btn:visited:hover,
  .btn:visited:active {
    box-shadow: 0rem 1.3rem 1rem #706f6f;
    transform: translateY(-1rem); }
  .btn:link::after,
  .btn:visited::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10rem; }
  .btn:link:hover::after,
  .btn:visited:hover::after {
    transform: scaleY(1.7) scaleX(1.4);
    opacity: 0; }

/*General Button*/
.btn--card:link,
.btn--card:visited {
  text-decoration: none;
  color: #000;
  font-size: 2.2rem;
  transition: all 0.3s;
  display: inline-block;
  position: relative;
  /*Pseudo elements allow us style parts of an element
AFTER - style a virtual element right after the element we're selecting 
After pseudo element is trated like a child element, of the element we're choosing*/
  /*General Button*/
  /*General Button*/ }
  .btn--card:link:hover, .btn--card:link:active,
  .btn--card:visited:hover,
  .btn--card:visited:active {
    box-shadow: 0rem 1.3rem 1rem rgba(77, 77, 77, 0.25);
    transform: translateY(-1rem); }
  .btn--card:link::after,
  .btn--card:visited::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10rem; }
  .btn--card:link:hover::after,
  .btn--card:visited:hover::after {
    transform: scaleY(1.7) scaleX(1.4);
    opacity: 0; }

.about__images {
  position: relative; }
  .about__images__img {
    height: 50%;
    width: 40%;
    box-shadow: 0px 3.3rem 2rem rgba(0, 0, 0, 0.25);
    position: relative;
    transition: all 0.3s;
    outline-offset: 1.2rem; }
    .about__images__img--img1 {
      position: absolute;
      top: -1rem;
      left: 10%; }
    .about__images__img--img2 {
      position: absolute;
      top: 6%;
      left: 33%; }
    .about__images__img--img3 {
      top: 20%;
      left: 20%; }
    .about__images__img:hover {
      z-index: 10;
      transform: scale(1.2) translateY(-0.5rem);
      box-shadow: 0px 4.3rem 2rem rgba(0, 0, 0, 0.35);
      outline: 0.8rem solid black; }

.features__box {
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  align-content: space-between;
  border-radius: 4px;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4);
  flex-wrap: wrap;
  flex: 0 0 23%;
  transition: all 0.3s; }
  .features__box:hover {
    transform: scale(1.1) translateY(-1rem);
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.4); }

.features__icon {
  font-size: 6rem;
  background-image: linear-gradient(to right, #6f7174, #232526);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: 5rem; }

.features__heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.75px;
  margin-bottom: 1.2rem; }

.features__text {
  font-weight: 400;
  font-size: 1.65rem; }

.tours__flexbox {
  display: flex;
  justify-content: space-around; }

.tours__card {
  -moz-perspective: 100rem;
  perspective: 100rem;
  width: 47rem;
  height: 56rem;
  border-radius: 4px;
  position: relative; }
  .tours__card__side {
    transition: all 0.8s ease;
    overflow: hidden;
    width: 47rem;
    height: 56rem;
    border-radius: 4px;
    box-shadow: 0rem 2rem 3rem rgba(0, 0, 0, 0.3);
    backface-visibility: hidden;
    position: absolute; }
    .tours__card__side--front {
      background-color: #fff; }
    .tours__card__side--back {
      transform: rotateY(180deg); }
      .tours__card__side--back--first {
        background-image: linear-gradient(to right bottom, #141e30, #243b55); }
      .tours__card__side--back--second {
        background-image: linear-gradient(to right bottom, #232526, #414345); }
      .tours__card__side--back--third {
        background-image: linear-gradient(to right bottom, #fbd3e9, #bb377d); }
  .tours__card__image {
    height: 20rem;
    background-size: cover;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    .tours__card__image--first {
      background-image: linear-gradient(to right bottom, #141e30, #243b55), url(../img/card-1.jpg); }
    .tours__card__image--second {
      background-image: linear-gradient(to right bottom, #232526, #414345), url(../img/card-2.jpg); }
    .tours__card__image--third {
      background-image: linear-gradient(to right bottom, #fbd3e9, #bb377d), url(../img/card-3.jpg); }
  .tours__card__heading {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: #fff;
    font-size: 3rem;
    font-weight: 200;
    position: absolute;
    top: 18%;
    left: 46%;
    width: 50%;
    text-align: right; }
  .tours__card__heading__span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .tours__card__heading__span--first {
      background-image: linear-gradient(to right bottom, rgba(20, 30, 48, 0.85), rgba(36, 59, 85, 0.85)); }
    .tours__card__heading__span--second {
      background-image: linear-gradient(to right bottom, rgba(35, 37, 38, 0.85), rgba(65, 67, 69, 0.85)); }
    .tours__card__heading__span--third {
      background-image: linear-gradient(to right bottom, rgba(251, 211, 233, 0.85), rgba(187, 55, 125, 0.85)); }
  .tours__card__info {
    font-size: 2.5rem;
    text-align: center;
    color: #474646;
    padding-top: 2rem; }
    .tours__card__info__list {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .tours__card__info__list__item {
        width: 65%;
        margin: 1rem 0; }
        .tours__card__info__list__item:not(:last-child) {
          border-bottom: 1px solid #d6d3d3; }
  .tours__card__cta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10rem; }
    .tours__card__cta__only {
      color: #fff;
      font-size: 4rem;
      font-weight: 100;
      text-transform: uppercase; }
    .tours__card__cta__price {
      color: #fff;
      font-size: 7rem;
      font-weight: 100;
      margin-bottom: 6rem; }
    .tours__card__cta__btn {
      background-color: #fff;
      border-radius: 10rem;
      text-decoration: none;
      padding: 1.2rem 4rem;
      font-size: 2.6rem;
      color: #000;
      text-transform: uppercase; }
      .tours__card__cta__btn::after {
        background-color: #fff; }
  .tours__card:hover .tours__card__side--front {
    transform: rotateY(-180deg); }
  .tours__card:hover .tours__card__side--back {
    transform: rotateY(0deg); }

.stories__container {
  padding: 5rem;
  padding-left: 8rem;
  box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.6);
  width: 45%;
  border-radius: 3px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  transform: skewX(-12deg); }
  .stories__container:not(:last-child) {
    margin-bottom: 6rem; }

.stories__user {
  width: 15rem;
  height: 15rem;
  transform: translateX(-3rem) skewX(12.01deg);
  position: relative;
  overflow: hidden;
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transition: all 0.2s; }
  .stories__user__img {
    height: 100%;
    transform: translateX(-3rem) scale(1.1);
    transition: all 0.2s;
    backface-visibility: hidden; }
  .stories__user__name {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 2.3rem;
    color: #fff;
    opacity: 0;
    transition: all 0.2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, 20%); }
  .stories__user:hover .stories__user__img {
    filter: blur(3px) brightness(80%);
    transform: translateX(-3rem) scale(1); }
  .stories__user:hover .stories__user__name {
    transform: translate(-30%, -50%);
    opacity: 1; }

.stories__description {
  transform: skewX(12deg); }

.stories__header {
  margin-bottom: 1rem;
  display: inline-block; }

.stories__text {
  font-size: 2rem; }

.stories__btn:link,
.stories__btn:visited {
  margin-top: 3.5rem;
  font-size: 3rem;
  margin-left: 47%; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.3;
  overflow: hidden; }
  .bg-video__content {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.link__btn:link,
.link__btn:visited {
  font-size: 2rem;
  align-self: flex-start;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  color: #000;
  border-bottom: 1px solid currentColor;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s; }

.link__btn:hover,
.link__btn:active {
  transform: translateY(-0.2rem);
  background-color: #000;
  box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.25);
  color: #cdd2d6; }

.header {
  height: 95vh;
  /* background-image: url(../img/heroImg.jpg); */
  background-image: linear-gradient(to right bottom, rgba(85, 83, 83, 0.596), rgba(53, 50, 50, 0.774)), url(../img/heroImg.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__heading-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.about {
  background-color: #f7f7f7;
  padding-top: 5rem; }
  .about__content {
    display: flex;
    justify-content: space-between;
    margin: 0rem 4rem 3rem 45rem; }
  .about__description {
    display: flex;
    flex-direction: column;
    flex: 0 0 45%; }

/*Features section*/
.features {
  margin: -8rem 4rem 0 4rem;
  background-image: linear-gradient(to right bottom, rgba(61, 61, 61, 0.596), rgba(34, 33, 33, 0.774)), url(../img/features.jpg);
  background-size: cover;
  background-position: center center;
  /*
  p1 - top left X
  p2 - top right X
  p3 - bottom right X
  p4 - bottom left X
  */
  transform: skewY(-4deg);
  padding: 22rem 10rem; }
  .features > * {
    transform: skewY(4deg); }
  .features__section {
    display: flex;
    justify-content: space-evenly; }

.tours {
  padding: 20rem 10rem;
  background-color: #f7f7f7;
  margin-top: -10rem;
  height: 115rem;
  margin-bottom: 10rem; }
  .tours__discover__btn {
    color: #fff;
    display: inline-block;
    background-color: #000;
    border-radius: 10rem;
    padding: 2rem 4rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 100;
    text-decoration: none;
    cursor: pointer;
    margin-left: 45%;
    margin-top: 14rem;
    transition: all 0.2s; }
    .tours__discover__btn:hover {
      animation: pulsate 1s infinite; }

/*STORIES SECTION*/
.stories {
  max-width: 235rem;
  margin: 0 auto;
  padding-top: 4rem;
  position: relative; }

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: '';
    display: block;
    clear: both; }
  .row [class^='col-'] {
    background-color: orangered;
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( (((100% - 2 * 6rem) / 3) * 2) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( ((100% - 3 * 6rem) / 4) * 2 + 6rem); }
  .row .col-3-of-4 {
    width: calc( ((100% - 3 * 6rem) / 4) * 3 + 6rem * 2); }
