.about {
  background-color: #f7f7f7;
  padding-top: 5rem;

  &__content {
    display: flex;
    justify-content: space-between;
    margin: 0rem 4rem 3rem 45rem;
  }

  &__description {
    display: flex;
    flex-direction: column;
    flex: 0 0 45%;
  }

  //   #868e96
  &__btn:link,
  &__btn:visited {
    font-size: 2rem;
    align-self: flex-start;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    color: $color-black;
    border-bottom: 1px solid currentColor;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    transition: all 0.2s;
  }

  &__btn:hover,
  &__btn:active {
    transform: translateY(-0.2rem);
    background-color: $color-black;
    box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.25);
    color: #cdd2d6;
  }
}

/*Features section*/
.features {
  margin: -8rem 4rem 0 4rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(61, 61, 61, 0.596),
      rgba(34, 33, 33, 0.774)
    ),
    url(../img/features.jpg);
  background-size: cover;
  background-position: center center;

  /*
  p1 - top left X
  p2 - top right X
  p3 - bottom right X
  p4 - bottom left X
  */
  // clip-path: polygon(0 15%, 100% 0, 100% 80%, 0 100%);
  transform: skewY(-4deg);

  //Select the direct children and skew them in the opposite direction
  //Child element is the &__section
  //The > * selects the first direct child that it comes across
  & > * {
    transform: skewY(4deg);
  }
  padding: 22rem 10rem;
  &__section {
    display: flex;
    justify-content: space-evenly;
  }
}

//TOUR CARDS SECTION
.tours {
  padding: 20rem 10rem;
  background-color: #f7f7f7;
  margin-top: -10rem;
  height: 120rem;
  // position: relative;

  &__discover__btn {
    color: #fff;
    display: inline-block;
    background-color: #000;
    border-radius: 10rem;
    padding: 2rem 4rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 100;
    text-decoration: none;
    cursor: pointer;
    margin-left: 45%;
    margin-top: 14rem;
    transition: all 0.2s;

    &:hover {
      animation: pulsate 1s infinite;
    }
  }
}

/*STORIES SECTION*/
.stories {
  max-width: 120rem;
  margin: 0 auto;
}
